<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Project Manager</a>

        <div class=" d-flex justify-content-end collapse navbar-collapse" id="navbarSupportedContent">

            <form class=" ">
                <%if(locals.user){%>
                    <a href="/users/signout" class="btn btn-outline-warning">SignOut</a>
                <%}%>
            </form>
        </div>
    </div>
</nav>