<!-- <%=Url%> -->
<link rel="stylesheet" href="/css/login.css">

<link rel="stylesheet" href="/css/login.css">
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="form-container">
                <h3 class="heading">Update</h3><br><br>
                <form action="/update" method="post">
                    <input class="form-control" type="url" name="url" value="<%=Url.url%>" required><br>
                    <input type="hidden" name="urlId" value="<%=Url._id%>"><br>
                    <center><input type="submit" class="btnSubmit btn btn-dark btn-outline-warning" value="Update"></center>
                </form>
            </div>
        </div>
    </div>
</div>